In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import yfinance as yf
from scipy.stats import norm

In [3]:
df = pd.read_csv('us-shareprices-daily.csv',sep=";")
df.head()

,Ticker,SimFinId,Date,Open,Low,High,Close,Adj. Close,Dividend,Volume,Shares Outstanding
0,GOOG,18,2016-10-24,40.24,40.24,40.76,40.66,40.66,NaN,33950280,1.378272e+10
1,GOOG,18,2016-10-25,40.83,40.26,40.83,40.38,40.38,NaN,31528080,1.378272e+10
2,GOOG,18,2016-10-26,40.32,39.82,40.35,39.95,39.95,NaN,32954660,1.378272e+10
3,GOOG,18,2016-10-27,40.05,39.58,40.17,39.77,39.77,NaN,54984420,1.378477e+10
4,GOOG,18,2016-10-28,40.42,39.68,40.77,39.77,39.77,NaN,85398040,1.378477e+10

In [4]:
stocks = df.pivot(index="Date", columns="Ticker", values="Adj. Close")

In [7]:
df.to_csv(filepath)

Date
2016-10-24    20.78
2016-10-25    21.03
2016-10-26    20.78
2016-10-27    20.98
2016-10-28    21.18
              ...
2021-10-18    56.84
2021-10-19    53.30
2021-10-20    52.14
2021-10-21    49.64
2021-10-22    48.90
Name: AA, Length: 1284, dtype: float64